[github]
	user = timfel
	token = ec98cb1fe2b505a94e4d5069af193e89
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
   	chp = cherry-pick
   	st = status
   	co = checkout
[user]
	name = Tim Felgentreff
   	email = "timfelgentreff@gmail.com"
[color]
   	branch = auto
