! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base3
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

XTerm*loginShell:              true
XTerm*font:                    -*-unifont-medium-r-normal-*-12-*-*-*-*-*-*-*
! XTerm*font:                    -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
! XTerm*faceSize:		       10
! XTerm*faceName:		       "DejaVu Sans Mono"
! XTerm*renderFont:	       true
XTerm*modifyOtherKeys:         true
XTerm*eightBitInput:           false
XTerm*locale:                  true
XTerm*utf8:                    true
XTerm*selectToClipboard:       true

Xterm*disallowedWindowOps:     20,21,SetXprop

*VT100.Translations: #override \
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> grave      : string(0x1b) string(0x1f) string(0x2a) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> grave      : string(0x1b) string(0x1f) string(0x2a) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> grave      : string(0x1b) string(0x1f) string(0x2a) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> grave      : string(0x1b) string(0x1f) string(0x2a) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 1          : string(0x1b) string(0x1f) string(0x2b) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 1          : string(0x1b) string(0x1f) string(0x2b) string(0x43) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 1          : string(0x1b) string(0x1f) string(0x2b) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 1          : string(0x1b) string(0x1f) string(0x2b) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 2          : string(0x1b) string(0x1f) string(0x2c) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 2          : string(0x1b) string(0x1f) string(0x2c) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 2          : string(0x1b) string(0x1f) string(0x2c) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 2          : string(0x1b) string(0x1f) string(0x2c) string(0x27) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 3          : string(0x1b) string(0x1f) string(0x2c) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 3          : string(0x1b) string(0x1f) string(0x2c) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 3          : string(0x1b) string(0x1f) string(0x2c) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 3          : string(0x1b) string(0x1f) string(0x2c) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 4          : string(0x1b) string(0x1f) string(0x2d) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 4          : string(0x1b) string(0x1f) string(0x2d) string(0x43) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 4          : string(0x1b) string(0x1f) string(0x2d) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 4          : string(0x1b) string(0x1f) string(0x2d) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 5          : string(0x1b) string(0x1f) string(0x2e) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 5          : string(0x1b) string(0x1f) string(0x2e) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 5          : string(0x1b) string(0x1f) string(0x2e) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 5          : string(0x1b) string(0x1f) string(0x2e) string(0x27) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 6          : string(0x1b) string(0x1f) string(0x2e) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 6          : string(0x1b) string(0x1f) string(0x2e) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 6          : string(0x1b) string(0x1f) string(0x2e) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 6          : string(0x1b) string(0x1f) string(0x2e) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 7          : string(0x1b) string(0x1f) string(0x2f) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 7          : string(0x1b) string(0x1f) string(0x2f) string(0x43) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 7          : string(0x1b) string(0x1f) string(0x2f) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 7          : string(0x1b) string(0x1f) string(0x2f) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 8          : string(0x1b) string(0x1f) string(0x30) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 8          : string(0x1b) string(0x1f) string(0x30) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 8          : string(0x1b) string(0x1f) string(0x30) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 8          : string(0x1b) string(0x1f) string(0x30) string(0x27) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 9          : string(0x1b) string(0x1f) string(0x30) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 9          : string(0x1b) string(0x1f) string(0x30) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 9          : string(0x1b) string(0x1f) string(0x30) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 9          : string(0x1b) string(0x1f) string(0x30) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 0          : string(0x1b) string(0x1f) string(0x31) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> 0          : string(0x1b) string(0x1f) string(0x31) string(0x43) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 0          : string(0x1b) string(0x1f) string(0x31) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> 0          : string(0x1b) string(0x1f) string(0x31) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> minus      : string(0x1b) string(0x1f) string(0x32) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> minus      : string(0x1b) string(0x1f) string(0x32) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> minus      : string(0x1b) string(0x1f) string(0x32) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> minus      : string(0x1b) string(0x1f) string(0x32) string(0x27) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> equal      : string(0x1b) string(0x1f) string(0x32) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> equal      : string(0x1b) string(0x1f) string(0x32) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> equal      : string(0x1b) string(0x1f) string(0x32) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> equal      : string(0x1b) string(0x1f) string(0x32) string(0x67) string(0x1f) \n\
 Shift ~Ctrl ~Meta ~Super ~Hyper ~Alt <Key> BackSpace  : string(0x1b) string(0x1f) string(0x33) string(0x41) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> BackSpace  : string(0x1b) string(0x1f) string(0x33) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> BackSpace  : string(0x1b) string(0x1f) string(0x33) string(0x43) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> BackSpace  : string(0x1b) string(0x1f) string(0x33) string(0x45) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> BackSpace  : string(0x1b) string(0x1f) string(0x33) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> BackSpace  : string(0x1b) string(0x1f) string(0x33) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Tab        : string(0x1b) string(0x1f) string(0x34) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Tab        : string(0x1b) string(0x1f) string(0x34) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Tab        : string(0x1b) string(0x1f) string(0x34) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Tab        : string(0x1b) string(0x1f) string(0x34) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> q          : string(0x1b) string(0x1f) string(0x34) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> q          : string(0x1b) string(0x1f) string(0x34) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> w          : string(0x1b) string(0x1f) string(0x35) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> w          : string(0x1b) string(0x1f) string(0x35) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> e          : string(0x1b) string(0x1f) string(0x36) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> e          : string(0x1b) string(0x1f) string(0x36) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> r          : string(0x1b) string(0x1f) string(0x36) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> r          : string(0x1b) string(0x1f) string(0x36) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> t          : string(0x1b) string(0x1f) string(0x37) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> t          : string(0x1b) string(0x1f) string(0x37) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> y          : string(0x1b) string(0x1f) string(0x38) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> y          : string(0x1b) string(0x1f) string(0x38) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> u          : string(0x1b) string(0x1f) string(0x38) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> u          : string(0x1b) string(0x1f) string(0x38) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> i          : string(0x1b) string(0x1f) string(0x39) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> i          : string(0x1b) string(0x1f) string(0x39) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> o          : string(0x1b) string(0x1f) string(0x3a) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> o          : string(0x1b) string(0x1f) string(0x3a) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> p          : string(0x1b) string(0x1f) string(0x3a) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> p          : string(0x1b) string(0x1f) string(0x3a) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> bracketleft: string(0x1b) string(0x1f) string(0x3b) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> bracketleft: string(0x1b) string(0x1f) string(0x3b) string(0x43) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> bracketleft: string(0x1b) string(0x1f) string(0x3b) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> bracketleft: string(0x1b) string(0x1f) string(0x3b) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> bracketright: string(0x1b) string(0x1f) string(0x3c) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> bracketright: string(0x1b) string(0x1f) string(0x3c) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> bracketright: string(0x1b) string(0x1f) string(0x3c) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> bracketright: string(0x1b) string(0x1f) string(0x3c) string(0x27) string(0x1f) \n\
 Shift ~Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Return     : string(0x1b) string(0x1f) string(0x3c) string(0x61) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Return     : string(0x1b) string(0x1f) string(0x3c) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Return     : string(0x1b) string(0x1f) string(0x3c) string(0x63) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Return     : string(0x1b) string(0x1f) string(0x3c) string(0x65) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Return     : string(0x1b) string(0x1f) string(0x3c) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Return     : string(0x1b) string(0x1f) string(0x3c) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> a          : string(0x1b) string(0x1f) string(0x3e) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> a          : string(0x1b) string(0x1f) string(0x3e) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> s          : string(0x1b) string(0x1f) string(0x3e) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> s          : string(0x1b) string(0x1f) string(0x3e) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> d          : string(0x1b) string(0x1f) string(0x3f) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> d          : string(0x1b) string(0x1f) string(0x3f) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> f          : string(0x1b) string(0x1f) string(0x40) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> f          : string(0x1b) string(0x1f) string(0x40) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> g          : string(0x1b) string(0x1f) string(0x40) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> g          : string(0x1b) string(0x1f) string(0x40) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> g          : string(0x1b) string(0x1f) string(0x40) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> h          : string(0x1b) string(0x1f) string(0x41) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> h          : string(0x1b) string(0x1f) string(0x41) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> j          : string(0x1b) string(0x1f) string(0x42) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> j          : string(0x1b) string(0x1f) string(0x42) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> k          : string(0x1b) string(0x1f) string(0x42) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> k          : string(0x1b) string(0x1f) string(0x42) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> l          : string(0x1b) string(0x1f) string(0x43) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> l          : string(0x1b) string(0x1f) string(0x43) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> semicolon  : string(0x1b) string(0x1f) string(0x44) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> semicolon  : string(0x1b) string(0x1f) string(0x44) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> semicolon  : string(0x1b) string(0x1f) string(0x44) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> semicolon  : string(0x1b) string(0x1f) string(0x44) string(0x27) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> apostrophe : string(0x1b) string(0x1f) string(0x44) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> apostrophe : string(0x1b) string(0x1f) string(0x44) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> apostrophe : string(0x1b) string(0x1f) string(0x44) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> apostrophe : string(0x1b) string(0x1f) string(0x44) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> backslash  : string(0x1b) string(0x1f) string(0x46) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> backslash  : string(0x1b) string(0x1f) string(0x46) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> backslash  : string(0x1b) string(0x1f) string(0x46) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> backslash  : string(0x1b) string(0x1f) string(0x46) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> z          : string(0x1b) string(0x1f) string(0x46) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> z          : string(0x1b) string(0x1f) string(0x46) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> x          : string(0x1b) string(0x1f) string(0x47) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> x          : string(0x1b) string(0x1f) string(0x47) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> c          : string(0x1b) string(0x1f) string(0x48) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> c          : string(0x1b) string(0x1f) string(0x48) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> v          : string(0x1b) string(0x1f) string(0x48) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> v          : string(0x1b) string(0x1f) string(0x48) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> b          : string(0x1b) string(0x1f) string(0x49) string(0x43) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> b          : string(0x1b) string(0x1f) string(0x49) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> n          : string(0x1b) string(0x1f) string(0x4a) string(0x23) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> n          : string(0x1b) string(0x1f) string(0x4a) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> m          : string(0x1b) string(0x1f) string(0x4a) string(0x63) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> m          : string(0x1b) string(0x1f) string(0x4a) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> comma      : string(0x1b) string(0x1f) string(0x4b) string(0x42) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> comma      : string(0x1b) string(0x1f) string(0x4b) string(0x43) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> comma      : string(0x1b) string(0x1f) string(0x4b) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> comma      : string(0x1b) string(0x1f) string(0x4b) string(0x47) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> period     : string(0x1b) string(0x1f) string(0x4c) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> period     : string(0x1b) string(0x1f) string(0x4c) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> period     : string(0x1b) string(0x1f) string(0x4c) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> period     : string(0x1b) string(0x1f) string(0x4c) string(0x27) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> slash      : string(0x1b) string(0x1f) string(0x4c) string(0x62) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> slash      : string(0x1b) string(0x1f) string(0x4c) string(0x63) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> slash      : string(0x1b) string(0x1f) string(0x4c) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> slash      : string(0x1b) string(0x1f) string(0x4c) string(0x67) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> space      : string(0x1b) string(0x1f) string(0x50) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> space      : string(0x1b) string(0x1f) string(0x50) string(0x23) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> space      : string(0x1b) string(0x1f) string(0x50) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> space      : string(0x1b) string(0x1f) string(0x50) string(0x27) string(0x1f) \n\
~Shift ~Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x20) string(0x1f) \n\
 Shift ~Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x21) string(0x1f) \n\
~Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x22) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x23) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x24) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x25) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Menu       : string(0x1b) string(0x1f) string(0x52) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Up         : string(0x1b) string(0x1f) string(0x53) string(0x43) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Up         : string(0x1b) string(0x1f) string(0x53) string(0x44) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Up         : string(0x1b) string(0x1f) string(0x53) string(0x45) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Up         : string(0x1b) string(0x1f) string(0x53) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Up         : string(0x1b) string(0x1f) string(0x53) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Down       : string(0x1b) string(0x1f) string(0x54) string(0x23) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Down       : string(0x1b) string(0x1f) string(0x54) string(0x24) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Down       : string(0x1b) string(0x1f) string(0x54) string(0x25) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Down       : string(0x1b) string(0x1f) string(0x54) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Down       : string(0x1b) string(0x1f) string(0x54) string(0x27) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Left       : string(0x1b) string(0x1f) string(0x54) string(0x63) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Left       : string(0x1b) string(0x1f) string(0x54) string(0x64) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Left       : string(0x1b) string(0x1f) string(0x54) string(0x65) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Left       : string(0x1b) string(0x1f) string(0x54) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Left       : string(0x1b) string(0x1f) string(0x54) string(0x67) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Right      : string(0x1b) string(0x1f) string(0x55) string(0x43) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Right      : string(0x1b) string(0x1f) string(0x55) string(0x44) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Right      : string(0x1b) string(0x1f) string(0x55) string(0x45) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Right      : string(0x1b) string(0x1f) string(0x55) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Right      : string(0x1b) string(0x1f) string(0x55) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Home       : string(0x1b) string(0x1f) string(0x57) string(0x43) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Home       : string(0x1b) string(0x1f) string(0x57) string(0x44) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Home       : string(0x1b) string(0x1f) string(0x57) string(0x45) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Home       : string(0x1b) string(0x1f) string(0x57) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Home       : string(0x1b) string(0x1f) string(0x57) string(0x47) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> End        : string(0x1b) string(0x1f) string(0x58) string(0x23) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> End        : string(0x1b) string(0x1f) string(0x58) string(0x24) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> End        : string(0x1b) string(0x1f) string(0x58) string(0x25) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> End        : string(0x1b) string(0x1f) string(0x58) string(0x26) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> End        : string(0x1b) string(0x1f) string(0x58) string(0x27) string(0x1f) \n\
 Shift ~Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Prior      : string(0x1b) string(0x1f) string(0x58) string(0x61) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Prior      : string(0x1b) string(0x1f) string(0x58) string(0x63) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Prior      : string(0x1b) string(0x1f) string(0x58) string(0x64) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Prior      : string(0x1b) string(0x1f) string(0x58) string(0x65) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Prior      : string(0x1b) string(0x1f) string(0x58) string(0x66) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Prior      : string(0x1b) string(0x1f) string(0x58) string(0x67) string(0x1f) \n\
 Shift ~Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Next       : string(0x1b) string(0x1f) string(0x59) string(0x41) string(0x1f) \n\
 Shift  Ctrl ~Meta ~Super ~Hyper ~Alt <Key> Next       : string(0x1b) string(0x1f) string(0x59) string(0x43) string(0x1f) \n\
~Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Next       : string(0x1b) string(0x1f) string(0x59) string(0x44) string(0x1f) \n\
 Shift ~Ctrl  Meta ~Super ~Hyper ~Alt <Key> Next       : string(0x1b) string(0x1f) string(0x59) string(0x45) string(0x1f) \n\
~Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Next       : string(0x1b) string(0x1f) string(0x59) string(0x46) string(0x1f) \n\
 Shift  Ctrl  Meta ~Super ~Hyper ~Alt <Key> Next       : string(0x1b) string(0x1f) string(0x59) string(0x47) string(0x1f)

