<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExtensionSettings</key>
	<dict>
		<key>fcoeoabgfenejglbffodgkkbkcdhcgfn</key>
		<dict>
			<key>installation_mode</key>
			<string>force_installed</string>
			<key>update_url</key>
			<string>https://clients2.google.com/service/update2/crx</string>
		</dict>
		<key>hehggadaopoacecdllhhajmbjkdcmajg</key>
		<dict>
			<key>installation_mode</key>
			<string>force_installed</string>
			<key>update_url</key>
			<string>https://clients2.google.com/service/update2/crx</string>
		</dict>
	</dict>
</dict>
</plist>
